// font-family: 'Inter', sans-serif;

$font-family: 'Inter', sans-serif;

$fs-72: 72px;
$fs-60: 60px;
$fs-42: 42px;
$fs-32: 32px;
$fs-24: 24px;
$fs-16: 16px;
$fs-10: 10px;

$fw-600: 600;
$fw-500: 500;
$fw-400: 400;

$lh-150: 150%;
$lh-140: 140%;
$lh-125: 125%;
$lh-115: 115%;
$lh-105: 105%;

$color-dark: #403F3D;
$color-light: #E1D4C9;
$color-accent: #B0907A;
$color-body: #E1D4C9;
$color-container: #665F55;
$color-backdrop: rgba(64, 63, 61, 0.80);
$color-border-light: #C1B6AD;
$color-border-dark: #665F55;