@import './normalize.css';
* {
  font-family: "Inter", sans-serif;
  color: #403F3D;
  font-weight: 600;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

ul,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: none;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

button {
  border: none;
}

body {
  background-color: #E1D4C9;
  padding: 0 40px;
}

.header {
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.nav__logo {
  background-image: url("../assets/header/logo.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 60px;
}
.nav__list {
  display: flex;
  gap: 40px;
}
.nav__list-items-links {
  line-height: 105%;
  position: relative;
  top: -2px;
  left: -3px;
  display: flex;
  line-height: 1;
  flex-direction: column;
}
.nav__list-items-links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #665F55;
  transition: width 0.3s ease-out;
  -webkit-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  -ms-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
}
.nav__list-items-links:hover::after {
  width: 100%;
}
.nav__menu {
  position: relative;
  top: -4px;
  left: -5px;
}
.nav__menu .nav__menu-img {
  position: relative;
  top: 2px;
  left: 5px;
}
.nav__menu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #665F55;
  transition: width 0.3s ease-out;
  -webkit-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  -ms-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
}
.nav__menu:hover::after {
  width: 100%;
}
.nav__burger-wrapper-list {
  width: 768px;
  height: 100vh;
  background-color: #E1D4C9;
  position: absolute;
  right: -100%;
  top: 100px;
  z-index: 2;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav__burger-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  gap: 60px;
  width: 688px;
}

.header__hero {
  background-image: url("../assets/header/container.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 644px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  display: flex;
  padding: 0 0 0 100px;
}

.header__hero-text {
  display: flex;
  flex-direction: column;
  width: 530px;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}
.header__hero-text_h1 p {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  color: #E1D4C9;
}
.header__hero-text_h1 p span {
  font-style: italic;
  line-height: 105%;
  color: #B0907A;
  position: relative;
  top: -1px;
  left: -7px;
}
.header__hero-text_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #E1D4C9;
  position: relative;
  top: 1px;
}
.header__hero-text_btn {
  width: 200px;
  background-color: #E1D4C9;
  align-items: center;
  position: relative;
  top: 1px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 8px;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
.header__hero-text_btn svg {
  display: none;
}
.header__hero-text_btn:hover svg {
  display: block;
}

.favorite-coffee {
  margin-bottom: 100px;
}
.favorite-coffee .favorite-coffee__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.favorite-coffee .favorite-coffee__wrapper .favorite-coffee__heading {
  font-size: 60px;
  line-height: 125%;
  text-align: center;
}
.favorite-coffee .favorite-coffee__wrapper .favorite-coffee__heading p span {
  font-style: italic;
  line-height: 125%;
  color: #B0907A;
  position: relative;
  left: -4px;
}
.favorite-coffee__slider {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}
.favorite-coffee__slider-btn {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E1D4C9;
  border: 1px solid #665F55;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  cursor: pointer;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
.favorite-coffee__slider-btn_left {
  left: 4px;
}
.favorite-coffee__slider-btn_right {
  right: 4px;
}
.favorite-coffee__slider-btn:hover {
  background-color: #665F55;
}
.favorite-coffee__slider-btn:hover svg path {
  fill: #E1D4C9;
  stroke: #E1D4C9;
}
.favorite-coffee__slider-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1152px;
}
.favorite-coffee__slide1 {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.favorite-coffee__slide1 .favorite-coffee__slide1-img {
  background-image: url("../assets/favorite-coffee/coffee-slider-1.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
}
.favorite-coffee__slide1 .favorite-coffee__slide-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.favorite-coffee__slide1 .favorite-coffee__slide1-heading {
  font-size: 24px;
  line-height: 125%;
  position: relative;
  top: 1px;
}
.favorite-coffee__slide1 .favorite-coffee__slide1-text {
  font-weight: 400;
  line-height: 150%;
}
.favorite-coffee__slide1 .favorite-coffee__slide1-price {
  font-size: 24px;
  line-height: 125%;
  position: relative;
  top: 1px;
}
.favorite-coffee__slide2 {
  width: 480px;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.favorite-coffee__slide2 .favorite-coffee__slide2-img {
  background-image: url("../assets/favorite-coffee/coffee-slider-2.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
}
.favorite-coffee__slide2 .favorite-coffee__slide-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.favorite-coffee__slide2 .favorite-coffee__slide2-heading {
  font-size: 24px;
  line-height: 125%;
  position: relative;
  top: 1px;
}
.favorite-coffee__slide2 .favorite-coffee__slide2-text {
  font-weight: 400;
  line-height: 150%;
}
.favorite-coffee__slide2 .favorite-coffee__slide2-price {
  font-size: 24px;
  line-height: 125%;
  position: relative;
  top: 1px;
}
.favorite-coffee__slide3 {
  width: 480px;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.favorite-coffee__slide3 .favorite-coffee__slide3-img {
  background-image: url("../assets/favorite-coffee/coffee-slider-3.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
}
.favorite-coffee__slide3 .favorite-coffee__slide-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.favorite-coffee__slide3 .favorite-coffee__slide3-heading {
  font-size: 24px;
  line-height: 125%;
  position: relative;
  top: 1px;
}
.favorite-coffee__slide3 .favorite-coffee__slide3-text {
  font-weight: 400;
  line-height: 150%;
}
.favorite-coffee__slide3 .favorite-coffee__slide3-price {
  font-size: 24px;
  line-height: 125%;
  position: relative;
  top: 1px;
}
.favorite-coffee ._hide-slide {
  display: none;
}
.favorite-coffee ._show-slide {
  display: flex;
  animation: animationSlide 0.5s;
  -webkit-animation: animationSlide 0.5s;
}
@keyframes animationSlide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.favorite-coffee__slide-dots {
  width: 144px;
  height: 4px;
  margin: 0 auto;
  position: relative;
}
.favorite-coffee__slide-dots span {
  background-color: #C1B6AD;
  width: 40px;
  height: 4px;
  position: absolute;
}
.favorite-coffee__slide-dots span:nth-child(2) {
  left: 52px;
}
.favorite-coffee__slide-dots span:nth-child(3) {
  left: 104px;
}
.favorite-coffee ._active-dots {
  background-color: #665F55 !important;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
.favorite-coffee ._base-dots {
  background-color: #C1B6AD;
}

.about {
  margin-bottom: 100px;
}
.about__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about__heading {
  font-size: 60px;
  line-height: 125%;
}
.about__heading span {
  font-style: italic;
  color: #B0907A;
  position: relative;
  left: -4px;
}
.about__img-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.about__img-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about__img {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.about__img_img1 {
  background-image: url("../assets/about/about-1.png");
  height: 590px;
}
.about__img_img2 {
  background-image: url("../assets/about/about-2.png");
  height: 430px;
}
.about__img_img3 {
  background-image: url("../assets/about/about-3.png");
  height: 430px;
}
.about__img_img4 {
  background-image: url("../assets/about/about-4.png");
  height: 590px;
}

.mobile-app {
  margin-bottom: 100px;
}
.mobile-app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.mobile-app__offer-wrapper {
  width: 100%;
}
.mobile-app__offer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-app__offer-heading {
  font-size: 60px;
  line-height: 125%;
  position: relative;
  top: 1px;
}
.mobile-app__offer-heading span {
  color: #B0907A;
  font-style: italic;
  position: relative;
  left: -4px;
}
.mobile-app__offer-text {
  font-weight: 400;
  line-height: 150%;
  position: relative;
  top: 1px;
}
.mobile-app__wrapper-links {
  display: flex;
  gap: 20px;
}
.mobile-app__link {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 0 20px;
  width: 158px;
  height: 64px;
  border: 1px solid #665F55;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
.mobile-app__link svg {
  position: relative;
  left: -1px;
}
.mobile-app__link:hover {
  background-color: #665F55;
}
.mobile-app__link:hover .mobile-app__link-text,
.mobile-app__link:hover .mobile-app__link-text-market {
  color: #E1D4C9;
}
.mobile-app__link:hover svg path {
  fill: #E1D4C9;
}
.mobile-app__link-logo {
  position: relative;
  left: -1px;
}
.mobile-app__links-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.mobile-app__link-text {
  font-size: 10px;
  line-height: 140%;
  position: relative;
  top: -3px;
  left: -1px;
}
.mobile-app__text-market {
  line-height: 150%;
}
.mobile-app__link-text-market {
  position: relative;
  left: -1px;
}
.mobile-app__img {
  background-image: url("../assets/mobile-app/mobile-screens.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 630px;
}

.footer {
  background-color: #665F55;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  margin-bottom: 40px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 99px;
  align-items: center;
}
.footer__offer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 530px;
}
.footer__offer-heading {
  font-size: 60px;
  line-height: 125%;
}
.footer__offer-heading p {
  color: #E1D4C9;
  position: relative;
  top: 1px;
  left: 1px;
}
.footer__offer-heading span {
  font-style: italic;
  color: #B0907A;
  position: relative;
  top: -1px;
  left: -4px;
}
.footer__offer-social-links {
  display: flex;
  gap: 12px;
}
.footer__offer-social-link {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  width: 60px;
  height: 60px;
  border: 1px solid #E1D4C9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.footer__offer-social-link:nth-child(2) {
  position: relative;
  left: -2px;
}
.footer__offer-social-link:nth-child(3) {
  position: relative;
  left: -4px;
}
.footer__offer-social-link:hover {
  background-color: #E1D4C9;
}
.footer__offer-social-link:hover svg {
  fill: #665F55;
}
.footer__contacts-info {
  width: 530px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__contacts-heading {
  font-size: 24px;
  line-height: 125%;
  color: #E1D4C9;
}
.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__contacts-link {
  line-height: 150%;
  color: #E1D4C9;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  top: -2px;
  left: -1px;
  width: 264px;
  flex-wrap: wrap;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.footer__contacts-link svg {
  position: relative;
  top: -2px;
}
.footer__contacts-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #E1D4C9;
  transition: width 0.3s ease-out;
  -webkit-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  -ms-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
}
.footer__contacts-link:hover::after {
  width: 100%;
}
.footer__contacts-heading {
  position: relative;
  top: -1px;
  left: -1px;
}

.header_main {
  margin-bottom: 38px;
}

.menu__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.menu__heading {
  font-size: 60px;
  line-height: 125%;
  width: 800px;
  text-align: center;
}
.menu__heading span {
  font-style: italic;
  color: #B0907A;
  position: relative;
  left: -4px;
}

.menu__wrapper-btn {
  display: flex;
  gap: 16px;
}

.menu__btn-drink {
  background: none;
  padding: 0;
  width: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #403F3D;
  padding: 8px 16px 8px 8px;
  border: 1px solid #C1B6AD;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  cursor: pointer;
}
.menu__btn-drink:nth-child(1) {
  position: relative;
  top: -1px;
  left: 1px;
}
.menu__btn-drink:nth-child(2) {
  position: relative;
  top: -1px;
}
.menu__btn-drink:nth-child(3) {
  position: relative;
  top: -1px;
  left: -2px;
}

.menu__btn-icon {
  width: 30px;
  height: 30px;
  background-color: #C1B6AD;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__btn-text {
  line-height: 150%;
}

.active-drink-btn {
  background-color: #665F55;
}

.active-drink-light {
  background-color: #E1D4C9;
}

.active-drink-light-text {
  color: #E1D4C9;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #403F3D;
}

.menu-items {
  margin-bottom: 100px;
}
.menu-items__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.menu-items__item {
  border: 1px solid #C1B6AD;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  display: flex;
  flex-direction: column;
}
.menu-items__item:nth-child(2) .menu-items__item-description, .menu-items__item:nth-child(3) .menu-items__item-description, .menu-items__item:nth-child(4) .menu-items__item-description, .menu-items__item:nth-child(5) .menu-items__item-description, .menu-items__item:nth-child(7) .menu-items__item-description, .menu-items__item:nth-child(8) .menu-items__item-description {
  gap: 36px;
}
.menu-items__item:nth-child(5) .menu-items__item-description {
  gap: 60px;
  top: -2px;
  left: -1px;
}
.menu-items__item:nth-child(6) .menu-items__item-description {
  top: -1px;
  left: -2px;
}
.menu-items__item:nth-child(7) .menu-items__item-description, .menu-items__item:nth-child(8) .menu-items__item-description {
  top: -2px;
  left: -1px;
}
.menu-items ._hide-wrapper {
  display: none;
}
.menu-items ._show-wrapper {
  display: grid;
}
.menu-items__refresh-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-items__refresh-btn {
  display: none;
  background: none;
  padding: 0;
  width: 60px;
  height: 60px;
  border: 1px solid #665F55;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.menu-items__item-img {
  background-repeat: no-repeat;
  width: 100%;
  height: 310px;
  position: relative;
  top: -1px;
  left: -1px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.menu-items__item-img_img1 {
  background-image: url("../assets/menu-coffee/coffee-1.png");
}
.menu-items__item-img_img2 {
  background-image: url("../assets/menu-coffee/coffee-2.png");
}
.menu-items__item-img_img3 {
  background-image: url("../assets/menu-coffee/coffee-3.png");
}
.menu-items__item-img_img4 {
  background-image: url("../assets/menu-coffee/coffee-4.png");
}
.menu-items__item-img_img5 {
  background-image: url("../assets/menu-coffee/coffee-5.png");
  top: -3px;
  left: -1px;
}
.menu-items__item-img_img6 {
  background-image: url("../assets/menu-coffee/coffee-6.png");
  top: -3px;
  left: -1px;
}
.menu-items__item-img_img7 {
  background-image: url("../assets/menu-coffee/coffee-7.png");
  top: -3px;
  left: -1px;
}
.menu-items__item-img_img8 {
  background-image: url("../assets/menu-coffee/coffee-8.png");
  top: -3px;
  left: -1px;
}
.menu-items__item-img_img1-tea {
  background-image: url("../assets/menu-tea/tea-1.png");
}
.menu-items__item-img_img2-tea {
  background-image: url("../assets/menu-tea/tea-2.png");
}
.menu-items__item-img_img3-tea {
  background-image: url("../assets/menu-tea/tea-3.png");
}
.menu-items__item-img_img4-tea {
  background-image: url("../assets/menu-tea/tea-4.png");
}
.menu-items__item-img_img1-desert {
  background-image: url("../assets/menu-desert/dessert-1.png");
}
.menu-items__item-img_img2-desert {
  background-image: url("../assets/menu-desert/dessert-2.png");
}
.menu-items__item-img_img3-desert {
  background-image: url("../assets/menu-desert/dessert-3.png");
}
.menu-items__item-img_img4-desert {
  background-image: url("../assets/menu-desert/dessert-4.png");
}
.menu-items__item-img_img5-desert {
  background-image: url("../assets/menu-desert/dessert-5.png");
  top: -3px;
  left: -1px;
}
.menu-items__item-img_img6-desert {
  background-image: url("../assets/menu-desert/dessert-6.png");
  top: -3px;
  left: -1px;
}
.menu-items__item-img_img7-desert {
  background-image: url("../assets/menu-desert/dessert-7.png");
  top: -3px;
  left: -1px;
}
.menu-items__item-img_img8-desert {
  background-image: url("../assets/menu-desert/dessert-8.png");
  top: -3px;
  left: -1px;
}
.menu-items__item-description {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  left: -1px;
}
.menu-items__item-description-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu-items__item-description-sub-text {
  font-weight: 400;
  line-height: 150%;
}
.menu-items__item-description-heading {
  font-size: 24px;
  line-height: 125%;
}
.menu-items__item-price {
  font-size: 24px;
  line-height: 125%;
}

.footer_menu {
  position: relative;
  top: -4px;
}

.nav__burger-btn {
  width: 44px;
  height: 44px;
  background: initial;
  position: relative;
  border: 1px solid #665F55;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav__burger-btn span {
  width: 16px;
  height: 2px;
  background-color: #665F55;
  display: flex;
  position: relative;
  top: -4px;
}
.nav__burger-btn span::before {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #665F55;
  position: relative;
  top: 8px;
}

@media (max-width: 1399.98px) {
  .container {
    width: 1200px;
  }

  .header {
    overflow: hidden;
  }

  .header__hero {
    width: 91%;
  }

  .favorite-coffee__slider-wrapper {
    width: 80%;
  }

  .mobile-app__img {
    background-size: contain;
  }
}
@media (max-width: 1279.98px) {
  .container {
    width: 100%;
  }

  .header__hero {
    width: 88%;
    height: 540px;
  }

  .favorite-coffee__slider-wrapper {
    width: 70%;
  }

  .about__img {
    background-position: bottom;
  }

  .footer__wrapper {
    gap: 20px;
  }

  .menu-items__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .menu-items__item-img {
    background-size: cover;
    height: 370px;
  }
}
@media (max-width: 991.98px) {
  .nav__list,
.nav__menu {
    display: none;
  }

  .nav__burger-wrapper-list {
    right: -1000%;
  }

  .header__hero {
    width: 91%;
    height: 644px;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
  }

  .favorite-coffee__slider-btn_left,
.favorite-coffee__slider-btn_right {
    left: 0;
  }

  .about__img-container:nth-child(2) {
    display: none;
  }

  .about__img-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .about__img_img1 {
    background-position: center;
  }

  .about__img_img2 {
    background: url("../assets/about/about-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 590px;
    background-position: center;
  }

  .mobile-app__wrapper {
    flex-direction: column;
    padding: 0;
  }

  .mobile-app__offer-heading,
.mobile-app__offer-text {
    top: 0;
  }

  .mobile-app__wrapper-links {
    position: relative;
    top: -1px;
  }

  .mobile-app__img {
    position: relative;
    background-size: contain;
    top: -2px;
    left: 29px;
  }

  .footer {
    height: 736px;
    position: relative;
    top: -2px;
  }

  .footer__wrapper {
    flex-direction: column;
    gap: 100px;
    padding-left: 58px;
  }

  .footer__contacts-info {
    position: relative;
    top: 1px;
    left: 2px;
  }

  .menu-items {
    margin-bottom: 98px;
  }

  .menu-items__wrapper {
    grid-template-columns: repeat(2, 310px);
    margin-bottom: 40px;
    padding: 0 14px;
    justify-content: space-around;
  }

  .menu-items__item:nth-child(5),
.menu-items__item:nth-child(6),
.menu-items__item:nth-child(7),
.menu-items__item:nth-child(8) {
    display: none;
  }

  .menu-items__item-img {
    background-size: contain;
    height: 310px;
    top: 0;
    left: 0;
  }

  .menu-items__item-description-sub-text {
    position: relative;
    top: -1px;
  }

  .menu-items__item:nth-child(3),
.menu-items__item:nth-child(4) {
    position: relative;
    top: -2px;
  }

  .menu-items__refresh-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -4px;
  }

  .menu__heading {
    width: 100%;
  }

  .nav__burger-btn {
    display: flex;
  }

  .nav__menu_burger {
    display: block;
  }

  ._active-burger-btn {
    top: 0 !important;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: 0.3s;
  }
  ._active-burger-btn::before {
    top: 0 !important;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transition: 0.3s;
  }

  ._show {
    right: 0;
  }

  ._block {
    overflow: hidden;
  }
}
@media (max-width: 767.98px) {
  body {
    padding: 0 16px;
  }

  .nav__burger-wrapper-list {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header__hero {
    width: 91%;
    height: 432px;
    padding: 60px 16px;
    justify-content: flex-start;
  }

  .header__hero-text {
    width: 100%;
  }

  .header__hero-text_h1 p {
    font-size: 42px;
    line-height: 115%;
  }

  .header__hero-text_h1 p span {
    left: -3px;
  }

  .header__hero-text_text {
    top: -1px;
  }

  .header__hero-text_btn {
    width: 200px;
    top: -1px;
  }

  .favorite-coffee .favorite-coffee__wrapper .favorite-coffee__heading {
    font-size: 32px;
    position: relative;
    top: 1px;
  }

  .favorite-coffee .favorite-coffee__wrapper .favorite-coffee__heading p span {
    left: -2px;
  }

  .favorite-coffee__slider-btn_left,
.favorite-coffee__slider-btn_right {
    display: none;
  }

  .favorite-coffee__slider-wrapper {
    width: 100%;
  }
  .favorite-coffee__slider-wrapper .favorite-coffee__slide1 {
    width: 100%;
  }
  .favorite-coffee__slider-wrapper .favorite-coffee__slide1 .favorite-coffee__slide1-img {
    height: 348px;
    background-size: cover;
  }
  .favorite-coffee__slider-wrapper .favorite-coffee__slide2 {
    width: 100%;
  }
  .favorite-coffee__slider-wrapper .favorite-coffee__slide2 .favorite-coffee__slide2-img {
    height: 348px;
    background-size: cover;
  }
  .favorite-coffee__slider-wrapper .favorite-coffee__slide3 {
    width: 100%;
  }
  .favorite-coffee__slider-wrapper .favorite-coffee__slide3 .favorite-coffee__slide3-img {
    height: 348px;
    background-size: cover;
  }

  .favorite-coffee__slider .favorite-coffee__slide-dots {
    margin: 0 auto;
  }

  .about__heading {
    font-size: 32px;
    position: relative;
    top: 1px;
  }

  .about__heading span {
    left: -2px;
  }

  .mobile-app__wrapper {
    gap: 40px;
  }

  .mobile-app__offer-heading {
    font-size: 32px;
    position: relative;
    top: 1px;
  }

  .mobile-app__offer-heading span {
    left: -2px;
  }

  .mobile-app__wrapper-links {
    flex-direction: column;
  }

  .mobile-app__img {
    height: 348px;
    left: 0;
    top: -4px;
  }

  .footer {
    height: 526px;
    top: -4px;
  }
  .footer .footer__wrapper {
    padding: 60px 16px;
    gap: 40px;
  }
  .footer .footer__wrapper .footer__offer {
    width: 100%;
  }
  .footer .footer__wrapper .footer__offer .footer__offer-heading {
    font-size: 32px;
    top: 2px;
    left: 1px;
  }
  .footer .footer__wrapper .footer__offer .footer__offer-heading span {
    top: -1px;
    left: -3px;
  }
  .footer .footer__wrapper .footer__offer-social-link {
    position: relative;
    top: -1px;
    left: -1px;
  }
  .footer .footer__wrapper .footer__offer-social-link:nth-child(2) {
    top: -1px;
    left: -3px;
  }
  .footer .footer__wrapper .footer__offer-social-link:nth-child(3) {
    top: -1px;
    left: -5px;
  }
  .footer .footer__wrapper .footer__contacts-info {
    width: 100%;
    top: 0;
    left: 1px;
  }

  .menu-items {
    margin-bottom: 96px;
  }

  .menu__heading {
    font-size: 32px;
  }

  .menu__wrapper-btn {
    gap: 8px;
  }

  .menu-items__wrapper {
    padding: 0 19px;
  }

  .menu-items__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .menu-items__item {
    position: relative;
    left: 0;
  }

  .menu-items__item:nth-child(2) {
    top: -2px;
  }

  .menu-items__item:nth-child(3) {
    top: -4px;
  }

  .menu-items__item:nth-child(4) {
    top: -6px;
  }

  .menu-items__refresh-btn {
    top: -8px;
  }

  .menu-items__item-img {
    background-size: cover;
    height: 100vh;
  }
}
@media (max-width: 474.98px) {
  .menu-items__item-img {
    height: 310px;
  }
}

/*# sourceMappingURL=style.css.map */
