@import './variables';
@import './normalize.css';
@import './base-setting.scss';

body {
  background-color: $color-body;
  padding: 0 40px;
}

.header {
  margin-bottom: 100px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  &__logo {
    background-image: url('../assets/header/logo.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 60px;
  }

  &__list {
    display: flex;
    gap: 40px;

    .nav__list-items-links {
      line-height: $lh-105;
      position: relative;
      top: -2px;
      left: -3px;
    }
  }

  &__menu {
    position: relative;
    top: -4px;
    left: -5px;

    .nav__menu-img {
      position: relative;
      top: 2px;
      left: 5px;
    }
  }
}

.header__hero {
  background-image: url('../assets/header/container.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 644px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  display: flex;
  padding: 0 0 0 100px;
}

.header__hero-text {
  display: flex;
  flex-direction: column;
  width: 530px;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;

  &_h1 p {
    font-size: $fs-72;
    font-weight: $fw-600;
    line-height: $lh-105;
    color: $color-body;

    span {
      font-style: italic;
      line-height: $lh-105;
      color: $color-accent;
      position: relative;
      top: -1px;
      left: -7px;
    }
  }

  &_text {
    font-size: $fs-16;
    font-weight: $fw-400;
    line-height: $lh-150;
    color: $color-body;
    position: relative;
    top: 1px;
  }

  &_btn {
    width: 200px;
    background-color: $color-body;
    align-items: center;
    position: relative;
    top: 1px;
  }
}

// !!!>  favorite-coffee  <!!!
.favorite-coffee {
  margin-bottom: 100px;

  .favorite-coffee__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .favorite-coffee__heading {
      font-size: $fs-60;
      line-height: $lh-125;
      text-align: center;
    }

    .favorite-coffee__heading p span {
      font-style: italic;
      line-height: $lh-125;
      color: $color-accent;
      position: relative;
      left: -4px;
    }
  }

  &__slider {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
  }

  &__slider-btn {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-body;
    border: 1px solid $color-border-dark;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;

    &_left {
      left: 4px;
    }

    &_right {
      right: 4px;
    }
  }

  &__slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1152px;
  }

  &__slide1 {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;

    .favorite-coffee__slide1-img {
      background-image: url('../assets/favorite-coffee/coffee-slider-1.png');
      background-repeat: no-repeat;
      width: 100%;
      height: 480px;
    }

    .favorite-coffee__slide-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .favorite-coffee__slide1-heading{
      font-size: $fs-24;
      line-height: $lh-125;
      position: relative;
      top: 1px;
    }

    .favorite-coffee__slide1-text {
      font-weight: $fw-400;
      line-height: $lh-150;
    }

    .favorite-coffee__slide1-price {
      font-size: $fs-24;
      line-height: $lh-125;
      position: relative;
      top: 1px;
    }
  }

  &__slide-dots {
    width: 144px;
    height: 4px;
    margin-left: 45%;
    position: relative;
    span {
      background-color: $color-border-light;
      width: 40px;
      height: 4px;
      position: absolute;
    }
    span:nth-child(1) {
      background-color: $color-border-dark;
    }
    span:nth-child(2) {
      left: 52px;
    }
    span:nth-child(3) {
      left: 104px;
    }
  }
}

// !!!>  about  <!!!

.about {
  margin-bottom: 100px;
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__heading {
    font-size: $fs-60;
    line-height: $lh-125;

    span {
      font-style: italic;
      color: $color-accent;
      position: relative;
      left: -4px;
    }
  }

  &__img-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  &__img-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    &_img1 {
      background-image: url('../assets/about/about-1.png');
      height: 590px;
    }

    &_img2 {
      background-image: url('../assets/about/about-2.png');
      height: 430px;
    }

    &_img3 {
      background-image: url('../assets/about/about-3.png');
      height: 430px;
    }

    &_img4 {
      background-image: url('../assets/about/about-4.png');
      height: 590px;
    }
  }
}